.showcase {
    background: url("../images/landpage.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 282px;
}

#showcase-txt {
    
}

.titletext {
    font-size: 60px;
    color: white;
    font-weight: bold;
}