.showcase {
    background: url("../images/landpage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 282px;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}

.linx {
    width: 120px;
    height: 50px;
    text-align: center;
}

.linx:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
}

.navbar-right {
    margin-right: 0px;
}

.titletext {
    font-size: 60px;
    margin-left: 60px;
    margin-top: -90px;
    color: white;
}

.sm-text {
    color: white;
    font-size: 20px;
}